node_modules/*
yarn.lock
.ipynb_checkpoints/*
__pycache__/*


madgraph_production_tools/error/*
madgraph_production_tools/output/*
madgraph_production_tools/py.py
madgraph_production_tools/tmp_cards/*


selection_tools/xApplySelections.xcodeproj/

external_tools/hepmc2root/__pycache__/*