node_modules/*
yarn.lock
.ipynb_checkpoints/*
__pycache__/*
lib/
lib64
bin/
share/
*.cfg
*.json
etc/


madgraph_production_tools/error/*
madgraph_production_tools/output/*
madgraph_production_tools/py.py
madgraph_production_tools/tmp_cards/*
madgraph_production_tools/ME5_debug
madgraph_production_tools/MG5_debug
madgraph_production_tools/ME5_debug
madgraph_production_tools/MG5_debug

selection_tools/xApplySelections.xcodeproj/
selection_tools/CMakeCache.txt
selection_tools/CMakeFiles/*
selection_tools/Makefile
selection_tools/cmake_install.cmake
selection_tools/libAnalysis.a
selection_tools/apply_selections
selection_tools/error/*
selection_tools/output/*
selection_tools/log/*
selection_tools/prepare_histograms

external_tools/hepmc2root/__pycache__/*
external_tools/hepmc2root/hepmc2root
external_tools/hepmc2root/xHepmcToRoot.xcodeproj/*
external_tools/hepmc2root/test.root

TdAlps/__pycache__/*

plotting_tools/*.pdf

limits_tools/*.pdf
